.explore{
    background-image: url(img/ada.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    &-content{
        width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        p{
            color: $text-color;
            width: 80%;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }

        h1{
            color: $text-color;
            font-size: 7vmin;
            text-align: center;
            text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
        }
    }

    
}